In [1]:
import pymysql
import mysql.connector
def Createconn():
    return pymysql.connect(host="localhost",database='sakila',user='root',password="Dar#19al",port=3306)

In [2]:
def createtable():
    conn=Createconn()
    cursor=conn.cursor()
    query="create table student(id int primary key auto_increment,name varchar(30),email varchar(30),city varchar(30))"
    cursor.execute(query)
    print("Table is created successfully")
    conn.close()

In [20]:
createtable()

Table is created successfully

In [3]:
def insertdata(name,email,city):
    conn=Createconn()
    cursor=conn.cursor()
    args=(name,email,city)
    query="insert into student(name,email,city)values(%s,%s,%s)"
    cursor.execute(query,args)
    print("Data inserted successfully")
    conn.commit()
    conn.close()

In [4]:
n=input("Enter your name: ")
e=input("Enter your email: ")
c=input("Enter city: ")
insertdata(n,e,c)

Enter your name: samar
Enter your email: samarjaiswal2020@gmail.com
Enter city: Lucknow
Data inserted successfully

In [5]:
def ShowData():
    conn=Createconn()
    cursor=conn.cursor()
    query="select * from student"
    cursor.execute(query)
    result=cursor.fetchall()
    for i in result:
        print(i)

In [6]:
ShowData()

(1, 'shafaq', 'shafaqfarooqui91@gmail.com', 'Chhindwara')
(2, 'samar', 'samarjaiswal2020@gmail.com', 'Lucknow')

In [7]:
def UpdateData(name,email,city,sid):
    conn=Createconn()
    cursor=conn.cursor()
    args=(name,email,city,sid)
    query="update student set name=%s,email=%s,city=%s where id=%s"
    cursor.execute(query,args)
    print("Data Upadated")
    conn.commit()
    conn.close()

In [8]:
sid=int(input("Enter the id: "))
n=input("Enter your name: ")
e=input("Enter your email: ")
c=input("Enter city: ")
UpdateData(n,e,c,sid)

Enter the id: 1
Enter your name: Shafaq
Enter your email: shafaqfarooqui91@gmail.com
Enter city: Chhindwara
Data Upadated

In [9]:
ShowData()

(1, 'Shafaq', 'shafaqfarooqui91@gmail.com', 'Chhindwara')
(2, 'samar', 'samarjaiswal2020@gmail.com', 'Lucknow')

In [11]:
def DeleteData(sid):
    conn=Createconn()
    cursor=conn.cursor()
    args=(sid)
    query="delete from student where id=%s"
    cursor.execute(query,args)
    print("Data deleted successfully")
    conn.commit()
    conn.close()

In [12]:
sid=int(input("Enter id: "))
DeleteData(sid)

Enter id: 1
Data deleted successfully

In [13]:
ShowData()

(2, 'samar', 'samarjaiswal2020@gmail.com', 'Lucknow')